@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
    font-family: 'Montserrat', sans-serif !important;
}

#home {
    background: linear-gradient(to top right, #00132D, #0E7EA4);
    width: 100%;
    height: 93vh;
}

a {
    color: #FFF !important;
    text-decoration: none !important;
    transition: 0.3s;
}

#title {
    font-size: 1.6vw;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

#logo-orbi {
    height: 5vh;
    display: none;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;

}
#pattern {
    display: none;
}
#conteudo-home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 15vh;
}
#text-home{
    color: #F1F1EF;
    font-size: 1.6vw;
    text-align: center;
    max-width: fit-content;
}
#title-home{
    font-weight: 350;
    font-size: 4vw;
}
#text-body{
    color: #000;
    font-size: 2vw;
    text-align: start;
    font-weight: 500;
    max-width: fit-content;
}
#title-body{
    font-weight: bolder;
    font-size: 3vw;
    color: #E3BD5C;
}


#sobre{
    height: 93vh;
    width: 100%;
    background-color: #F1F1EF;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#conteudo-sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 15vh;
}
#title-sobre{
    font-size: 3.2vw;
    font-weight: bold;
    padding: 30px;
}
.centro{
    width:unset !important;
}
@media (max-width: 999px) {
    #img-home{
        display: none;
    }
    #title{
        font-size: unset;
    }
    nav {
        justify-content: space-around;
    }

    #pattern {
        display: flex;
        margin-top: 450px;
    }

    #logo-orbi {
        display: block;
    }

    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}