@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
    font-family: 'Montserrat', sans-serif !important;
}

#home {
    background: linear-gradient(to top right, #00132D, #0E7EA4);
    width: 100%;
    height: 93vh;
}

a {
    color: #FFF !important;
    text-decoration: none !important;
    transition: 0.3s;
}

#title {
    font-size: 1.6vw;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

#logo-orbi {
    height: 5vh;
    display: none;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;

}

#pattern {
    display: none;
    z-index: 1;
}

#conteudo-home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 15vh;
}

#img-sistema {
    background: linear-gradient(to top right, #7C0101, #E20202);
    display: flex;
    justify-content: center;
}

#text-home {
    color: #F1F1EF;
    font-size: 1.6vw;
    text-align: center;
    max-width: fit-content;
}

#title-home {
    font-weight: 350;
    font-size: 4vw;
}

#text-body {
    color: #000;
    font-size: 1.6rem;
    text-align: start;
    font-weight: 500;
    max-width: fit-content;
}

#title-body {
    font-weight: bolder;
    font-size: 1.6rem;
    color: #E3BD5C;
}


#sobre {
    background-color: #F1F1EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    position: relative;

}

#conteudo-sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 15vh;
}

#conteudo-sobre-projetos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 15vh;
}

#title-sobre {
    font-size: 4vh;
    font-weight: bold;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-membros {
    font-size: 4vh;
    font-weight: bold;
    padding: 30px;
    color: #E3BD5C;
}
.center{
    display: flex;
    justify-content: center;
}
.centro {
    width: unset !important;
}

#membros {
    background-color: #2B2B2B;
    position: relative;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 100px;
}

#cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}

#membros-efeito {
    width: 90vw;
    height: 25vh;
    border-radius: 20%;
    background-color: #36547C;
    filter: blur(130px);
    position: absolute;
    z-index: 1;
    top: 50%;
}

.fundo {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1.3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.card {
    background-color: rgba(0, 0, 0, 0.5) !important;
    align-items: center;
    width: 17vw;
}

.nome-aluno {
    color: #ffffff;
    font-size: 2.5vh;
}

.img-membro {
    height: 23rem;
    margin: 10px;
    margin-top: 20px;
    width: 15vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* IDs para cada card dos membros */
#giovana {
    background-image: url(../imgs/membros/giovana.png);
}

#kaique {
    background-image: url(../imgs/membros/kaique.png);
}

#arthur {
    background-image: url(../imgs/membros/arthur.png);
}
#eric {
    background-image: url(../imgs/membros/eric.png);
}

#miura {
    background-image: url(../imgs/membros/lucas.png);
}

#footer{
    height: 25vh;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#text-footer{
    color: #F1F1EF;
    font-size: 2.5vh;
}
.links-contato{
    width: 50px;
}
@media (max-width: 999px) {
    .card{
        width: 85vw;
    }
    .img-membro{
        width: 65vw;

    }
    #cards {
        flex-direction: column;
    }

    #title-home {
        font-weight: 600;
        font-size: 10vw;
    }

    #text-home {
        font-size: 4vw;
    }

    #conteudo-home {
        flex-direction: column-reverse;
    }

    #conteudo-sobre {
        flex-direction: column;
    }

    #conteudo-sobre-projetos {
        flex-direction: column;
    }

    #img-home {
        display: none;
    }

    #title {
        font-size: unset;
    }

    nav {
        justify-content: space-around;
    }

    #pattern {
        display: block;
        margin-top: 600px;
        position: absolute;
        margin-left: -250px;
    }

    #logo-orbi {
        display: block;
    }

    body {
        overflow-x: hidden;
    }
    *{
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}