body, html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
header{
    background: linear-gradient(to top right, #00132D, #0E7EA4); 
    height: 93vh;
}
  
/* LINKS */
ul{
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40vh;
    flex-wrap: wrap;

}
li{
    list-style-type: none;
    font-weight: bold;
    font-size: 3.5vh;
}
a{
    color: #ffffff !important; /* Pulas as especificidades anteriores */
    text-decoration: none !important;
}
/* END LINKS */

/* INÍCIO */
#home{
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Para todos os elementos utilizarem o mesmo tamanho de espaço disponível */
    margin-top: 17vh;
    align-items: center;
    margin-top: 10vh;
    flex-wrap: wrap;
}
.title-home{
    font-size: 10vh;
}
.text-home{
    color: #ffffff;
    font-size: 3.5vh;
    text-align: center;
    width: 50vw;
    max-width: 100%;
}
#home img{
    height: 50vh;
    max-width: 100%;
}

/* END INÍCIO */

/* SOBRE */
#sobre{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 4vh;
}
.title-sobre{
    font-size: 8vh;
    font-weight: bold;
    margin-top: 4vh;
    text-align: center;
}
#quemsomos{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 10vh;
}
.text-quemsomos{
    width: 50%;
}
.text-quemsomos h1{
    color: #E3BD5C; 
    font-weight: bold;
    font-size: 5vh; 
}
.text-quemsomos p{
    font-size: 3.5vh;
}
.img-quemsomos img{
    border-radius: 10%;
    height: 50vh;  
}
#projetos{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    margin-bottom: 10vh;
}
.text-projetos{
    width: 50%;
}
.tela{
    height: 50vh; 
    border-radius: 10%;
    background: linear-gradient(to top right, #000000, #E3BD5C);
}
.img-tela{
    height: 50vh;
}
.legenda-tela{
    color: #E3BD5C;
    font-size: 2.5vh;
    margin-top: 3vh;
    font-weight: 400;
}
.text-projetos h1{
    color: #E3BD5C; 
    font-weight: bold;
    font-size: 5vh; 
}
.text-projetos p{
    font-size: 3.5vh;
}
/* END SOBRE*/

/* MEMBROS */
#membros{
    height: 105vh;
    background-color: #2B2B2B;
    position: relative;
    padding-top: 5vh;
}
.text-membros h1{
    color: #E3BD5C;
    font-weight: bold;
    font-size: 5vh;
    text-align: center; 
    position: relative;
    top: 6vh;

}
#membros-efeitos {
    width: 90vw;
    height: 25vh;
    border-radius: 20%;
    background-color: #36547C;
    filter: blur(130px);
    position: absolute;
    z-index: 2;
    top: 50%; /* Posicionam o elemento no centro do contêiner pai, e */
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta o elemento para o centro perfeitamente*/
}
.all{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    position: relative;
    z-index: 3;
    top: 50%; /* Posicionam o elemento no centro do contêiner pai, e */
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta o elemento para o centro perfeitamente*/
}
.fundo{
    width: 18vw;
    height: 71vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1.3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.img-aluno{
    width: 17vw;
    height: 59vh;
    opacity: 1 !important;
    border-radius: 5px;
    margin: 1.3vh 1.3vh 2vh 1.3vh;
}
.nome-aluno{
    color: #ffffff;
    font-size: 3.7vh;
}
/* END MEMBROS */

/* FOOTER */
footer{
    height: 25vh;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-footer{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    font-size: 2.5vh;
}
.logo-footer{
    height: 7vh;
}
/* END FOOTER */